        #title {
            justify-content:left;  
            align-items:center;      
        }
        body{
            width: 100%;
            height: 100%;
        }

        #map-container {  
            width: 65%;
            height: 65%;
            position: fixed; /* 允许其子元素使用绝对定位 */
            margin-left: 17%;
            margin-top: 7%;
            border-color: black;
            border-style: solid;
            overflow:hidden;
        }

        #map {
            width: 100%;
            height: 100%;
            transform-origin: center center;
            transition: transform 0.2s ease; /* 平滑的缩放过渡效果 */
            border-style: solid;
            border-color: blue;
            overflow: auto;
            position: absolute;
        }


        /* 鼠标悬浮时高亮 */
        path:hover {
            cursor: pointer;
            fill: brown;
        }

        #region-name {
            font-size: 10px;
            font-weight: bold;
            position: absolute;
            background-color:#6699ff;
            color: black;
            padding: 2px 5px;
            border-radius: 2px;
            pointer-events: none; /* 确保文本框不阻挡鼠标事件 */
            display:none;
            transition: left 0.1s, top 0.1s; /* 平滑过渡 */
            text-align: center;
            left:0;
            top: 0;
        }

        text{
            transform: matrix(1 0 0 0.967204 0 3.61424);
            stroke:#000;
            stroke-width: 0;
            font-weight: bold;
            text-anchor: start;
            font-size: 10px;
            fill: black;
            pointer-events:none;
        }
